// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900
  ),
  $grays
);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800
  ),
  $colors
);

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);

// ----------------
//       Font
// ----------------

$font-size-base: 1rem !default;
$font-size: (
  traffic-report: 500px
) !default;
$font-size: map-merge(
  (
    sm: $font-size-base * 0.875,
    md: $font-size-base,
    lg: $font-size-base * 1.25,
    h1: $font-size-base * 2.5,
    h2: $font-size-base * 2,
    h3: $font-size-base * 1.75,
    h4: $font-size-base * 1.5,
    h5: $font-size-base * 1.25
  ),
  $font-size
);

$f-sm: map-get($font-size, sm);
$f-md: map-get($font-size, md);
$f-lg: map-get($font-size, lg);
$f-h1: map-get($font-size, h1);
$f-h2: map-get($font-size, h2);
$f-h3: map-get($font-size, h3);
$f-h4: map-get($font-size, h4);
$f-h5: map-get($font-size, md);

// -----------------
//      padding
// -----------------

$padding: () !default;

$padding: map-merge(
  $map1: (
    '4': 4px,
    '8': 8px,
    '12': 12px,
    '16': 16px,
    '20': 20px,
    '24': 24px,
    '32': 32px
  ),
  $map2: $padding
);
$p-4: map-get($padding, '4');
$p-8: map-get($padding, '8');
$p-12: map-get($padding, '12');
$p-16: map-get($padding, '16');
$p-20: map-get($padding, '20');
$p-24: map-get($padding, '24');
$p-32: map-get($padding, '32');

// -----------------
//      margin
// -----------------

$margin: () !default;

$margin: map-merge(
  $map1: (
    '4': 4px,
    '8': 8px,
    '12': 12px,
    '16': 16px,
    '20': 20px,
    '24': 24px,
    '32': 32px
  ),
  $map2: $margin
);
$m-4: map-get($margin, '4');
$m-8: map-get($margin, '8');
$m-12: map-get($margin, '12');
$m-16: map-get($margin, '16');
$m-20: map-get($margin, '20');
$m-24: map-get($margin, '24');
$m-32: map-get($margin, '32');

// -----------------
//      layout
// -----------------

$layout: (
  top-bar-height: 64px
) !default;

$layout: map-merge(
  $map1: (),
  $map2: $layout
);

// ----------------
//       z-index
// ----------------

$z-index: (
  top-bar: 400,
  modal: 500
) !default;

$z-index: map-merge((), $z-index);
