// reset css
ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

* {
  outline: none;
}

// for d3 tick
g[name='hide-x-axis-tick'] {
  .tick {
    display: none;
  }
}

.red {
  color: $red !important;
}

.green {
  color: $green !important;
}

.underline-hover {
  @include underline-hover;
}
