<div class="detail">
  <h5 class="title">股票: {{ title || '' }} {{ code }}</h5>
  <div class="chart">
    <yur-trade-count-chart
      *ngIf="tradeCountChartData"
      [chartData]="tradeCountChartData"
    ></yur-trade-count-chart>
  </div>
  <div class="stock-info-table">
    <yur-stock-info-table [code]="code" height="50vh"></yur-stock-info-table>
  </div>
  <div class="person-trade-table">
    <yur-stock-credit-trade-table
      height="50vh"
      [dayCount]="30"
      [code]="code"
    ></yur-stock-credit-trade-table>
  </div>
</div>
